@font-face {
  font-family: gilroy;
  src: url("../../assets/fonts/gilroy.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head-section {
  position: relative;
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.head-section .content {
  width: auto;
}
.head-section .content h2 {
  font-family: gilroy;
  max-width: 980px;
  width: 80vw;
  font-size: 7.815vw;
  line-height: 1.06;
  letter-spacing: -0.02em;
  color: #e0e0e0;
}
.head-section #grad {
  position: absolute;
  opacity: 0.2;
  max-width: 95vw;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -50%);
  animation: load 5s;
}
@keyframes load {
  from {
    transform: translate(-100%, 0%);
  }
  to {
    transform: translate(-55%, -50%);
  }
}
.head-section .logo {
  transform: translateY(-90%);
  animation: first 5s;
}
.head-section .logo img {
  height: 7vw;
}
@keyframes first {
  from {
    transform: translateY(-150%);
  }
  to {
    transform: translateY(-90%);
  }
}
.head-section .down-arrow {
  position: absolute;
  bottom: 5%;
  animation: bounce 3s infinite;
}
.head-section .down-arrow img {
  width: 40px;
  height: 40px;
  opacity: 0.5;
}
@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.mask {
  position: relative;
  height: 8vw;
  font-family: gilroy;
  font-size: 7.815vw;
  letter-spacing: -0.02em;
  color: #e0e0e0;
  overflow: hidden;
}
.mask .anim-text {
  position: relative;
  height: auto;
  font-weight: 700;
  animation: go-up 6s infinite;
}
.mask .anim-text .lend {
  color: #0ec15d;
}
.mask .anim-text .fint {
  color: #fa7671;
}
.mask .anim-text .loy {
  color: #8a7cfb;
}
@keyframes go-up {
  0% {
    transform: translateY(-3%);
  }
  28% {
    transform: translateY(-3%);
  }
  33% {
    transform: translateY(-28%);
  }
  61% {
    transform: translateY(-28%);
  }
  66% {
    transform: translateY(-53%);
  }
  95% {
    transform: translateY(-53%);
  }
  100% {
    transform: translateY(-78%);
  }
}

.bot {
  animation: first-bot 5s;
}

@keyframes first-bot {
  from {
    transform: translateY(30%);
  }
  to {
    transform: translateY(0);
  }
}
.slider-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  overflow: hidden;
}
.slider-container .slider {
  width: 400%;
  display: flex;
  flex-direction: row;
  height: 100%;
  transition: transform 0.4s ease-in;
}
.slider-container .slider .slide {
  position: relative;
  width: 25%;
  color: #ffffff;
}
.slider-container .slider .slide .slide-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 85%;
  margin: 0 auto;
  margin-top: 20vh;
  text-align: center;
}
.slider-container .slider .slide .slide-content h3 {
  font-family: gilroy;
  font-size: 40px;
}
.slider-container .slider .slide .slide-content .card-image img {
  max-width: 50vw;
}
.slider-container .slider .slide-one {
  background-color: #edf0f0;
  color: #004c68;
}
.slider-container .slider .slide-two {
  background-color: #1e1942;
}
.slider-container .slider .slide-three {
  background-color: #29b267;
}
.slider-container .btn {
  position: absolute;
  bottom: 11%;
  width: 50px;
  height: 50px;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  z-index: 89;
  background-color: #ffffff;
  box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
}
.slider-container .btn svg {
  height: 1em;
}
.slider-container .btn-left {
  left: 11%;
}
.slider-container .btn-right {
  right: 11%;
  transform: rotate(180deg);
}
.slider-container h1 {
  position: absolute;
  z-index: 98;
  width: 100%;
  text-align: center;
  font-family: gilroy;
  font-size: 7.815vw;
  top: 63%;
  line-height: 1.06;
  letter-spacing: -0.02em;
  color: #444;
}
.slider-container .slide-logo {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.2;
  z-index: 50;
  height: 24vw;
}

/*# sourceMappingURL=main.css.map */
