@use "./abstracts/mixins" as mixins;
@use "./abstracts/variables" as vars;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.head-section {
  position: relative;
  background-color: vars.$head-bg-color;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  .content {
    width: auto;
    h2 {
      font-family: vars.$font-gilroy;
      max-width: 980px;
      width: 80vw;
      font-size: 7.815vw;
      line-height: 1.06;
      letter-spacing: -0.02em;
      color: #e0e0e0;
    }
  }
  #grad {
    position: absolute;
    opacity: 0.2;
    max-width: 95vw;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);
    animation: load 5s;
  }
  @keyframes load {
    from {
      transform: translate(-100%, 0%);
    }
    to {
      transform: translate(-55%, -50%);
    }
  }
  .logo {
    transform: translateY(-90%);
    animation: first 5s;
    img {
      height: 7vw;
    }
  }
  @keyframes first {
    from {
      transform: translateY(-150%);
    }
    to {
      transform: translateY(-90%);
    }
  }
  .down-arrow {
    position: absolute;
    bottom: 5%;
    animation: bounce 3s infinite;
    img {
      width: 40px;
      height: 40px;
      opacity: 0.5;
    }
  }
  @keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
}
.mask {
  position: relative;
  height: 8vw;
  font-family: vars.$font-gilroy;
  font-size: 7.815vw;
  letter-spacing: -0.02em;
  color: #e0e0e0;
  overflow: hidden;
  .anim-text {
    position: relative;
    height: auto;
    font-weight: 700;
    animation: go-up 6s infinite;
    .lend {
      color: #0ec15d;
    }
    .fint {
      color: #fa7671;
    }
    .loy {
      color: #8a7cfb;
    }
  }
  @keyframes go-up {
    0% {
      transform: translateY(-3%);
    }
    28% {
      transform: translateY(-3%);
    }
    33% {
      transform: translateY(-28%);
    }
    61% {
      transform: translateY(-28%);
    }
    66% {
      transform: translateY(-53%);
    }
    95% {
      transform: translateY(-53%);
    }
    100% {
      transform: translateY(-78%);
    }
  }
}
.bot {
  animation: first-bot 5s;
}
@keyframes first-bot {
  from {
    transform: translateY(30%);
  }
  to {
    transform: translateY(0);
  }
}
// Slider css
.slider-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  .slider {
    width: 100%;
    height: 100%;
    #slide-one {
      background-color: rgb(237, 240, 240);
    }
  }
}
